<%- include('partials/header') -%>
<h1>Compose</h1>

<form action="/compose" method="post">
  <!-- TITLE -->
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" class="form-control" type="text" name="postTitle" />
  </div>
  <!-- POST -->
  <div class="form-group">
    <label for="post">Post</label>
    <textarea id="post" class="form-control" name="postBody"></textarea>
  </div>
  <button type="submit">Publish</button>
</form>

<%- include('partials/footer') -%>
